name: iOS CI

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

jobs:
  build-and-test:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - name: Select Xcode
        run: sudo xcode-select -s "/Applications/Xcode_15.4.app"
      - name: Build and Test
        run: bash scripts/ci/build-and-test.sh
      - name: Check Coverage
        run: bash scripts/ci/check-coverage.sh


